[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests = "*"
lxml = "*"
cssselect = "*"
pandas = "*"
sklearn = "*"
mlflow = "*"
matplotlib = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
req2url = "python scrape/req2url.py"
mlpj = "python mlproject/train_and_predict.py"
mlflowui = 'mlflow ui'
